/* google font */
@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding:0px;
    margin: 0px;
}

#game-area {
    height: 700px;
    max-width: 80%;
    width:500px;
    padding: 40px;
    border-radius: 35px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgba(252, 162, 216, .5);
    text-align: center;
    box-shadow: 5px 5px 5px 5px grey;
    

}
.button  {
    cursor: pointer;
    width:150px;
    height:50px;
    box-shadow: 2px 2px grey;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    font-size: 20px;
}

h1 {  
    font-family: "Princess Sofia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
             
}
.correct {
    background-color: rgb(24, 228, 24);
    color:white;
}

.incorrect {
    background-color: rgb(255, 24, 24);
    color: white;
}
#reset, #start-game, #restart {
    display: block;
    margin: 0 auto;
    background-color: rgb(255, 165, 0);
    cursor: pointer;
    width:150px;
    height:50px;
    box-shadow: 2px 2px grey;
    border-radius: 10px;
    margin-top: 20px;
    color: black;
    font-size: 20px;
}

#background-image {
    background-image: linear-gradient(rgb(100, 216, 255), rgb(245, 178, 188));
   
}
.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 30px;
    margin-top: 15px;
    
}

.question {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    color:black;
}

#score {
    text-align: right;
}

#the-questions {
    font-size: 20px;
}

#rules, #end-game {
    display: none;
    position:fixed;
    width: 500px; 
    height: 700px; 
    background-color: rgba(0,0,0,.9); 
    z-index: 2;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    color: white;
    padding: 80px 55px;
    text-align: center;
    
    }

.margin {
    margin-top: 90px;
}

#pad {
    margin-bottom: 50px;
    text-align: justify !important;
}

#input {
    margin-top: 10px;
}
/* media query for mobile*/
@media screen and (max-width: 767px) {

    body {
        padding: 5px;
        margin: 4px;
        justify-content: flex-start;
        align-items: flex-start;
      }
    
    #game-area {
        height: 98vh;
        max-width: 98%;
        width: 98%;
        padding: 20px;
        display: grid;
        place-items: center;
        align-content: center
        ;
      }
    
    .button {
        width: 200px;
        height: 60px;
        margin: 10px;
        font-size: 20px;
      }
    
    h1 {
        font-size: 30px;
      }
    
    .options {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;   
        place-items: center;     
        margin: 0;  
    }

    #the-questions {
        padding: 15px 0px;
    }

    #reset,
    #start-game,
    #restart {
        display:grid;
        place-items: center;
        width: 120px;
        height: 40px;           
    }

    .question {
        text-align: center;
    }
    #rules,
    #end-game {
        height: 98vh;
        max-width: 95%;
        width: 95%;
        padding: 20px;
        text-align: center;
    }
    
    .margin {
        margin-top: 30px;
    }
    
    #pad {
        margin-bottom: 20px;
    }
    
}